<!doctype html>
<html>
<head>
    <title>CodeSmash</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

    <link rel='stylesheet' href="./styles/mediabar.css">
    <link rel="stylesheet" href="./styles/codemirror.css">
    <link rel="stylesheet" href="./styles/night.css">
    <link rel="stylesheet" href="./styles/terminal.css">
    <link rel="stylesheet" href="./styles/monokai-sublime.css">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/7.0.0/normalize.css" />
    <link rel="stylesheet" href="./styles/carousel.css">
    <link rel="stylesheet" href="./styles/login-form.css">    
    <link rel="stylesheet" href="./styles/main.css">   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>