<!doctype html>
<html>
<head>
    <title>CodeSmash</title>
    <link rel="icon" href="https://www.shareicon.net/download/2016/07/08/117253_development.ico" type="image/ico" sizes="16x16">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

    <link rel='stylesheet' href="https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-343610200692/styles/mediabar.css">
    <link rel="stylesheet" href="https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-343610200692/styles/codemirror.css">
    <link rel="stylesheet" href="https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-343610200692/styles/night.css">
    <link rel="stylesheet" href="https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-343610200692/styles/terminal.css">
    <link rel="stylesheet" href="https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-343610200692/styles/monokai-sublime.css">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/7.0.0/normalize.css">
    <link rel="stylesheet" href="styles/carousel.css">
    <link rel="stylesheet" href="styles/login-form.css">
    <link rel="stylesheet" href="https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-343610200692/styles/main.css">
    <link rel="stylesheet" href="styles/simple-sidebar.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

