  /* TAGS */
/* Extend bootstrap */
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  /* background: darkblue; */
}

.container-fluid{
  height:100%;
  display: table;
  width: 100%;
  padding: 0;
}

.container, .container-fluid {
  margin: 0 auto;
}

.row-fluid {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.centering {
  float:none;
  margin:0 auto;
}

body, html {
  height: 100%;
}

/* Normalization */

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

#root > * {
  height: 100%;
}
/* Collapsing Navbar for Mobile */
@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

/* Nav bar */
.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-header {
  margin-right: 40px;
}

.container, .view, #root {
  width: 100%;
  height: 100%;
  padding: 0;
}

/* Playground */

.playground {
  margin: 0;
  background-color: red;
  float: left;
}

.CodeMirror, .Terminal, .playground {
  height: 100%;
}

.Terminal, .playground {
  width: 50%;
}

.CodeMirror {
  width: 100%;
}

/* CodeMirror */
.otherClient {
  border-left: 3px solid steelblue;
  border-right: 3px solid red;

}

.Terminal {
  color: white;
  float: right;
  background-color: yellow;
}

.Terminal > * {
  position: relative;
  height: 100%;
}

.buttons {
  position: absolute;
  z-index: 999;
  bottom: 0;
}

/* LANDING PAGE */
.home, .options-and-info {
  width: 100%;
  height: 100%;
  max-height: 2000px;
}

.main-page {
  background: white;
}

/* Center piece */
.center-piece {
   margin-top: 4em;
   margin-bottom: 40px;
   font-size: 3em;
}

.mast-head {
  font-size: 1em;
}

/* Attention grabber */
.attention-grabber {
  /* background-color: green; */
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2.5em;
}

.carousel, .attention-grabber > div {
  height: 100%;
}

/* Carousel */
.carousel {

}

.carousel .slide img {
  width: auto;
  max-height: 100vh;
  height: 100%;
}


.title {
  font-size: 3em;
}

.slogan {
  margin-top: 0.25em;
  line-height: 0.98em;
}

.home {
  /* background-color: yellow; */
}

.options-and-info {
  background-color: grey;
}

.options-display {
  /* margin: auto; */
}

.center {
  text-align: center;
}

.grid-center {
  margin: 0 auto;
}

/* Footer */
footer {
  padding: 3.125em 1.5625em;
  font-size: 2em;
  color: white;
  max-height: 14.68em;
  width: 100%;
  background: #30353e;
  bottom: 0;
  left: 0;
}

/* FOOTER NAVBAR FOR PLAYGROUND.JSX */

.footer-dropup {
  background: #2d353c;
  color: white;
  padding: 10px
}

.footer-dropup li {
  margin: 5px;
}

#shortlink {
  background: #22282e;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  padding: 0 0 0 12px;
  border-radius: 4px;
  height: 32px;
  line-height: 32px;
  color: #f2f5f7;
}

#invite-dropup {
  padding: 20px
}

#invite {
  background: #26dbb8;
  border-color: #26dbb8;
}

.contact-list {
  list-style-type: none;
  padding: 0;
}
.row-centered {
  text-align: center;
}

.white-text {
  color: white;
}

.option {
  background: #30353e;
  height: 100vh;
  border-radius: 25%;
}

/* Generic Classes */
.vcenter {
  padding: auto 0;
  height: 100%;
}

/* Collapsing Navbar for Mobile */
@media (max-width: 600px) {
  .playground {
    width: 100%;
    height: 45%;
  }

  .Terminal {
    width: 100%;
    height: 45%;
  }
}

@media (max-width: 500px) {
    .attention-grabber {
      width: 100%;
      max-width: none;
    }

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}