  /* TAGS */
body, html {
  height: 100%;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-header {
  margin-right: 40px;
}

.container, .view, #root {
  width: 100%;
  height: 100%;
  padding: 0;
}

.playground {
  margin: 0;
  background-color: red;
  float: left;
}

.CodeMirror, .Terminal, .playground {
  height: 100%;
}

.Terminal, .playground {
  width: 50%;
}

.CodeMirror {
  width: 100%;
}

/* Style CodeMirror here!*/
.otherClient {
  border-left: 3px solid steelblue;
  border-right: 3px solid red;

}

.Terminal {
  color: white;
  float: right;
  background-color: yellow;
}

.Terminal > * {
  position: relative;
  height: 100%;
}

.buttons {
  position: absolute;
  z-index: 999;
  bottom: 0;
}





/* Collapsing Navbar for Mobile */
@media (max-width: 500px) {
  .playground {
    width: 100%;
    height: 45%;
  }

  .Terminal {
    width: 100%;
    height: 45%;
  }
}

@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}